<h1>Sửa mẫu</h1>
<form action="/admin/editMau/{{mau._id}}" method="post">
    <label for="tenMau">Tên Mẫu:</label>
    <input type="text" id="tenMau" name="tenMau" readonly value="{{mau.ten}}">
    <br>
    <label for="moTa">Mô Tả:</label>
    <input type="text" id="moTa" name="moTa" required value="{{mau.mota}}">
    <br>
    <label for="nhan">Nhãn:</label>
    <input type="text" id="nhan" name="nhan" readonly value="{{mau.fileNhan}}">
    <br>
    <label for="nhan">Video:</label>
    <video controls width="100%" >
        <source src="/admin/getVideo/{{mau._id}}" type="video/mp4">
        Trình duyệt của bạn không hỗ trợ video.
    </video>
    <input type="submit" value="Sửa mẫu" class="btn btn-success">
</form>