<h1>Xem mẫu</h1>
<form class="row" style="max-width: none">
    <div class="col-md-5">
        <label for="tenMau">Tên Mẫu:</label>
        <input type="text" id="tenMau" name="tenMau" readonly value="{{mau.name}}">
        <br>
        <label for="nhan">Video:</label>
        <br>
        <video id="uploadedVideo" controls width="100%">
            <source src="/admin/getVideo/{{mau._id}}" type="video/mp4">
            Trình duyệt của bạn không hỗ trợ xem video.
        </video>
    </div>
    <div class="col-md-7">
        <label for="nhan">Nhãn:</label>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Frame</th>
                    <th>Tọa độ trái trên</th>
                    <th>Tọa độ phải dưới</th>
                    <th>Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#each mau.data}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>( {{this.x_left}} ; {{this.y_left}} )</td>
                    <td>( {{this.x_right}} ; {{this.y_right}} )</td>
                    <td>
                        {{#if this.x_left}}
                        <a href="/admin/viewLabel/{{../mau._id}}/{{this._id}}" type="button"
                            class="btn btn-info">Xem</a>
                        {{else}}
                        <a href="/admin/addLabel/{{../mau._id}}/{{this._id}}" type="button"
                            class="btn btn-success">Thêm</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
    </div>

</form>