<h3 class="text-center text-primary">'{{nameFrame}}' của mẫu '{{nameMau}}'</h3>
<div class="text-center mt-4">
    <img src="/admin/getImage/{{id1}}/{{id2}}" alt="Hình ảnh" width="60%" />
</div>
<div class="text-center mt-4">
    <a href="/admin/viewMau/{{id1}}" type="button" class="btn btn-secondary">Quay lại</a>
    <a href="/admin/addLabel/{{id1}}/{{id2}}" type="button" class="btn btn-warning">Sửa</a>
    <a href="/admin/deleteLabel/{{id1}}/{{id2}}" type="button" class="btn btn-danger">Xóa</a>
</div>
